.research-report-header {
    justify-content: space-between !important;
    align-items: center !important;
}

.research-report-header h2 {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.research-report-header .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

.research-report-header .close-btn:hover {
    color: #333;
}

/* Research Report Info */
.research-report-info {
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: flex-start;
}

.research-report-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.research-report-info p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

/* Research Report Filters */
.research-report-filters {
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.research-report-filters h3 {
    font-size: 18px;
    width: 100%;
    text-align: left;
}

.research-report-filters ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.research-report-filters li {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.filter-selection {
    margin: 5px 10px;
}

/* Research Report Images */
.research-report-images {
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.research-report-images h3 {
    font-size: 18px;
    width: 100%;
    text-align: left;
}

.image-selection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.image-selection img {
    height: 100px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.image-selection label {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
}

.image-selection input {
    margin-right: 5px;
}

.image-selection input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    color: #333;
    background: white;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

/* Research Report Form */
.research-report-form label {
    font-size: 18px;
    font-weight: 500;
    display: block;
    text-align: left;
}

.research-report-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    color: #333;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group label {
    font-size: 14px;
    color: #555;
}

/* Research Report Actions */
.research-report-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}



.research-report-actions .download-link {
    background-color: #158582;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

.research-report-actions .download-link:hover {
    background-color: #136f6b;
}