  .research-report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
  }

  .research-report-header h2 {
    font-size: 20px;
    color: #333;
    margin: 0;
  }

  .research-report-header .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #888;
  }

  .research-report-header .close-btn:hover {
    color: #333;
  }

  /* Research Report Info */
  .research-report-info {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .research-report-info h3 {
    font-size: 18px;
    color: #158582;
    margin-bottom: 10px;
  }

  .research-report-info p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
  }

  /* Research Report Filters */
  .research-report-filters {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    justify-content: space-around;
  }

  .research-report-filters h3 {
    font-size: 18px;
    color: #158582;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
  }

  .research-report-filters ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .research-report-filters li {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
  }
  .filter-selection {
    margin: 5px 10px;
  }
  /* Research Report Images */
  .research-report-images {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    justify-content: space-around;
  }

  .research-report-images h3 {
    font-size: 18px;
    color: #158582;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
  }

  .image-selection {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .image-selection img {
    height: 100px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }

  .image-selection label {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
  }

  .image-selection input {
    margin-right: 5px;
  }

  /* Research Report Form */
  .research-report-form {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .research-report-form label {
    font-size: 18px;
    font-weight: 500;
    color: #158582;
    margin-bottom: 10px;
    display: block;
    text-align: left;
  }

  .research-report-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;
  }

  .checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .checkbox-group input {
    margin-right: 10px;
  }

  .checkbox-group label {
    font-size: 14px;
    color: #555;
  }

  /* Research Report Actions */
  .research-report-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .research-report-actions .close-btn {
    background: none;
    border: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    border-radius: 5px;
  }

  .research-report-actions .close-btn:hover {
    background-color: #f0f0f0;
  }

  .research-report-actions .download-link {
    background-color: #158582;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  }

  .research-report-actions .download-link:hover {
    background-color: #136f6b;
  }